<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../static/css/gtvg.css" th:href="@{/css/gtvg.css}"/>
    <script type="text/javascript" src="code.jquery.com/jquery-2.0.3.min.js" th:src="@{//code.jquery.com/jquery-2.0.3.min.js}"></script>
</head>
<body th:object="${orders}">
<h1>Order details</h1>
<div>
    <p><b>Code:</b> <span th:text="*{id}">99</span></p>
    <p>
        <b>Date:</b>
        <span th:text="*{#calendars.format(date,'yyyy/MM/dd')}">2017/12/01</span>
    </p>
</div>
<h2>Customer</h2>
<div th:object="${orders.customer}">
    <p><b>Name:</b> <span th:text="*{name}">Frederic Tomato</span></p>
    <p>
        <b>Since:</b>
        <span th:text="*{#calendars.format(customerSince,'dd MMM yyyy')}">1 jan 2011</span>
    </p>
</div>
<h2>Products</h2>
<table>
    <tr>
        <th>PRODUCT</th>
        <th>AMOUNT</th>
        <th>PURCHASE PRICE</th>
    </tr>
    <tr th:each="ol,row : *{orderLines}" th:class="${row.odd}? 'odd'">
        <td th:text="${ol.product.name}">Strawberries</td>
        <td th:text="${ol.amount}" class="number">3</td>
        <td th:text="${ol.purchasePrice}" class="number">23.32</td>
        <input type="hidden" th:class="line" th:value="${ol.amount*ol.purchasePrice}"/>
    </tr>
</table>
<div style="text-align: right">
    <b>TOTAL:</b>
    <span id="allP">35.23
    <script type="text/javascript" th:inline="javascript">
        var allP = 0;
        $(".line").each(function () {
            allP += Number($(this).val());
        })
        $('#allP').text(allP);
    </script>
        </span>
</div>
<p>
    <a href="list.html" th:href="@{/order/list}">Return to order list</a>
</p>
</body>
</html>